<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>wknd blog</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class=""></div>
    <div class="subtitle">
      <p>Something is coming. Etin and Gabriel building some real shit!!!</p>
      <p>
        Anticipate magic.
      </p>
    </div>
  </section>
</body>
</html>
